.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  font-weight: 600;
}

.App-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border: 0.5px solid #6a737d;
  width: 700px;
  min-width: 600px;
  min-height: 190px;
}

.App-Header {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
}
.App-Body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.App-Title {
  font-size: 1.5em;
}
.App-Subtitle {
  font-size: 11px;
  color: #979595;
}

.item {
  width: 350px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: #ddd 0px 2px 1px 0px;
}

.btn {
  width: 350px;
  padding: 8px;
  margin: 10px 0;
  font-size: 13px;
  border-radius: 4px;
  text-align: center;
}

.primary {
  background-color: #00a8ff;
  color: #fff;
  border: 1px solid #018fd9;
}
.primary:hover {
  background-color: #018fd9;
}

.secondary {
  background-color: #ccc;
  color: #fff;
}

.default {
  background-color: #fff;
  color: #000;
  border: 1px solid #d6d6d6;
}
.default:hover {
  background-color: #d6d6d6;
}

.input {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 10px;
  color: #333;
  margin-bottom: 10px;
}

.sm {
  width: 80px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 290px;
}

.modal-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}

.spacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
